@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #5356FF;
    --secondary-color: #378CE7;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --gradient-1: linear-gradient(to bottom right, #008DDA, #41C9E2);
    --gradient-2: linear-gradient(to bottom,
            var(--primary-color),
            var(--secondary-color));
    --max-width: 1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: var(--gradient-1);
    color: var(--white);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.btn_contact{
    display: flex;
    background-image: var(--gradient-2);
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.icon_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.header_container{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 150px;
}

.header_item {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header_image img{
    border-radius: 100%;
    position: relative;
    height: 100%;
    
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.section_container{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 150px;
 
}

.section_item {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section_image img{
    border-radius: 100%;
    position: relative;
    height: 100%;
    
}